In [80]:
import  pandas as pd

In [81]:
df=pd.read_csv("TrumpTrudeau.csv",index_col=0)
df.head()

   id           author                                             status
0   1  Donald J. Trump  I will be making a major statement from the @W...
1   2  Donald J. Trump  Just arrived at #ASEAN50 in the Philippines fo...
2   3  Donald J. Trump  After my tour of Asia, all Countries dealing w...
3   4  Donald J. Trump  Great to see @RandPaul looking well and back o...
4   5  Donald J. Trump  Excited to be heading home to see the House pa...

In [82]:
df.drop(labels="id",axis=1)

              author                                             status
0    Donald J. Trump  I will be making a major statement from the @W...
1    Donald J. Trump  Just arrived at #ASEAN50 in the Philippines fo...
2    Donald J. Trump  After my tour of Asia, all Countries dealing w...
3    Donald J. Trump  Great to see @RandPaul looking well and back o...
4    Donald J. Trump  Excited to be heading home to see the House pa...
..               ...                                                ...
395   Justin Trudeau  RT @googlecanada: Watch tmw: @JustinTrudeau di...
396   Justin Trudeau  Today in Ottawa, I met with the Modern Treaty ...
397   Justin Trudeau  Voici le sommaire de ma rencontre avec les Pre...
398   Justin Trudeau  RT @VeteransENG_CA: #Day1 of 11 Days of Rememb...
399   Justin Trudeau  RT @VeteransFR_CA: #Jour1 des 11 jours pour se...

[400 rows x 2 columns]

In [83]:
y=df["author"]

In [84]:
x=df["status"]

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      400 non-null    int64
 1   author  400 non-null    object
 2   status  400 non-null    object
dtypes: int64(1), object(2)
memory usage: 12.5+ KB

In [86]:
from sklearn.feature_extraction.text import CountVectorizer

In [87]:
type(df)

pandas.core.frame.DataFrame

In [88]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [89]:
count=CountVectorizer(stop_words="english",max_df=0.9,min_df=0.05)

In [90]:
x_train_count=count.fit_transform(x_train)

In [91]:
x_test_count=count.transform(x_test)

In [92]:
pd.DataFrame(x_train_count.toarray(),columns=count.get_feature_names())

,amp,au,canada,des,du,et,great,https,just,la,le,les,nous,pour,rt,thank,today
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,1,0,0,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,1,0,0,2,1,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
316,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
317,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
318,1,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0
319,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1

In [93]:
pd.DataFrame(x_test_count.toarray(),columns=count.get_feature_names())

,amp,au,canada,des,du,et,great,https,just,la,le,les,nous,pour,rt,thank,today
0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
76,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
77,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0
78,0,0,0,0,0,0,0,1,0,2,1,2,1,1,0,0,0
79,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [94]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()
tree.fit(x_train_count,y_train)

DecisionTreeClassifier()

In [95]:
tree.score(x_test_count,y_test)

0.85

In [96]:
text="Congratulations to the U.S.Marshal on a job well done in Portland.LAW&ORDER!"

In [97]:
Tweet=count.transform([text])

In [98]:
tree.predict(Tweet)

array(['Donald J. Trump'], dtype=object)

In [99]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(stop_words="english",max_df=0.9,min_df=0.05)

In [100]:
x_train_tfidf=tfidf.fit_transform(x_train)

In [101]:
x_test_tfidf=tfidf.transform(x_test)

In [102]:
x_train_tfidf=pd.DataFrame(x_train_tfidf.toarray(),columns=tfidf.get_feature_names())

In [103]:
x_test_tfidf=pd.DataFrame(x_test_tfidf.toarray(),columns=tfidf.get_feature_names())

In [104]:
from sklearn.svm import SVC
svm=SVC()

In [105]:
svm.fit(x_train_tfidf,y_train)

SVC()

In [106]:
svm.score(x_test_tfidf,y_test)

0.85

In [116]:
text="Congratulations to the U.S.Marshal on a job well done in Portland.LAW&ORDER!"

In [117]:
Tweet=tfidf.transform([text])

In [120]:
twi=pd.DataFrame(Tweet.toarray(),columns=tfidf.get_feature_names())

In [122]:
svm.predict(twi)

array(['Donald J. Trump'], dtype=object)